<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <div>Nome do produto</div>
            <div>Valor: <span>199,95</span></div>
            <div>Data da entrega: <span>15/08/2023</span></div>
            <div>Produto</div>
            <div>
                <input value="url do produto">
            </div>
            <div>Descrição</div>
            <div>
                <textarea>descrição do produto</textarea>
            </div>
            <div>
                <img src="">
            </div>
        </div>
    </body>
</html>